each item in items
  div.plugin-container.dht22(class=item.method)
    - if (item.method == 'sensor')
      p.description
        strong #{item.description}&nbsp; 
        span.muted PIN #{item.pin}
      div.large
        p
          span.temp T:&nbsp;
          span.value(data-id="#{item._id}t") #{item.value[0]}
          | &deg;#{item.unit}
        p
          span.hum H:&nbsp;
          span.value(data-id="#{item._id}h") #{item.value[1]}
          | &percnt;
